<%= form_for([@board, @board.sections.notes.build])  do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>
