<h1>Home#index</h1>
<p >Find me in app/views/home/index.html.erb</p>
<div >
  <h2>title</h2>
  <div id="sections" style="display: flex;flex-direction: row" >

    <div class="section" style="flex-grow: 1" >
      header 1

      <div style="border: solid 1px">
        I am a note
      </div>
      <div style="border: solid 1px">
        I am a note
      </div>


    </div>
    <div  class="section" style="flex-grow: 1" >
      header 2

        <div style="border: solid 1px">
          I am a note
        </div>
        <div style="border: solid 1px">
          I am a note
        </div>

    </div>
    <div  class="section" style="flex-grow: 1" >
      header 3
    <div class="notesCont">
      <div style="border: solid 1px">
        I am a note
      </div>
      <div style="border: solid 1px">
        I am a note
      </div>
    </div>
    </div>
  </div>

</div>
