<div class="section">
	  <div class="section-header text-center">
	  <h4 style="display:inline"><%=section.name %></h4>
	  <%= link_to  new_section_note_path(section_id: section.id) do %>
	  <i class="glyphicon glyphicon-plus"></i>
	  <% end %>
	  
	  </div>
<ul class="notes" style="display: flex;flex-wrap:wrap;">

    
        <%= render section.notes %>
      
  
</ul>
 
 

  

</div>