<div class="section" style="flex-grow: 1" >
   <%= section.name %>
   <%= link_to 'Destroy section', [section.board, section],
               method: :delete, data:{ confirm: 'Are you sure?' } %>
    <%= render section.notes %>



</div>