<div class="section" style="border: solid 1px;width:50%" >
<% @section = section
if section.id==nil
@section.id = 99
end %>
	  <div class="section-header">
	  <h4><%=section.name %></h4> 
	  <%= link_to 'Destroy section', [section.board, section],method: :delete, data:{ confirm: 'Are you sure?' } 
	  %>
	  </div>
<ul class="notes" style="display: flex;flex-wrap:wrap;">

    
        <%= render section.notes %>
      
  
</ul>
 

  <%= link_to 'New note', new_board_section_note_path({board_id: section.board.id,section_id: @section.id}) 
  %>

</div>