<div ng-controller='BoardListCtrl'>
  <table ng-if="boards">
    <thead>
      <th>id</th>
      <th>name</th>
    </thead>
    <tbody>
      <tr ng-repeat="board in boards">
        <td>{{board.id}}</td>
        <td>{{board.name}}</td>
      </tr>
    </tbody>
  </table>
</div>