<h2><%= @board.name %></h2>
<%= render 'sections/form' %>
<div class="sections" style="display: flex;border: solid 1px;flex-wrap:wrap;" >
<%= render @board.sections%>

</div>
<%= link_to 'Back', boards_path %>