<h2><%= @board.name %></h2>
<%= render 'sections/form' %>
<div class="panel panel-default"   >
<div class="panel-body" style="display: flex;flex-wrap:wrap;">
<%= render @board.sections%>

</div>
 </div>
<%= link_to 'Back', boards_path %>  