<h2><%= @board.name %></h2>

<div class="panel panel-default"   >
<div class="panel-body" style="display: flex;flex-flow: cloumn wrap;justify-content: space-around;">
<%= render @board.sections%>

</div>
 </div>
<%= link_to 'Back', boards_path %>  