<div ng-controller="BoardListCtrl">
<h2><%= @board.name %></h2>
<div class="panel panel-default"   >
<div class="panel-body" style="display: flex;flex-flow:row wrap;justify-content: space-around;">
<%= render @board.sections%>

</div>
 </div> 
 </div>